* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form input {
  margin-left: 10px;
  padding: 12px 20px;
  font-size: 14px;
  border: 1px solid #c8c8c8;
  border-right: 0px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  width: 200px;
}

button[type='submit'],
.load-more {
  padding: 11px 15px;
  font-size: 16px;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #c8c8c8;
  border-right: 0px;
  background: brown;;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  position: relative;
  left: 0;
  cursor: pointer;
}
button[type='submit']:hover,
.load-more:hover {
  text-decoration: none;
  background: brown;
}

.load-more {
  display: block;
  margin: 15px auto;
  border-radius: 4px;
  left: 0;
}

.gallery {
  max-width: 1200px;
  justify-content: center;
  margin: 65px auto 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  flex-basis: 250px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.photo-card img {
  height: 150px;
  width: 248px;
  object-fit: cover;
}

.info {
  padding: 0 5px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.info-item {
  text-align: center;
}

.placeholder {
  height: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.footer p {
  padding-right: 5px;
}

.hidden {
  display: none;
}

/* toggle switch */
.onoffswitch {
  position: relative;
  width: 40px;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 5px;
  padding: 0;
  line-height: 5px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: '';
  padding-left: 10px;
  background-color: brown;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: '';
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 19px;
  margin: -5px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.toggle {
  padding-right: 10px;
}